body { 
    background: linear-gradient(135deg,#3e0048 0%, #07a3ca 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control::placeholder {
    color: #e0e0e0; 
}

.btn-primary {
    background-color:  #07a3ca; 
    border-color: #3e0048; 
}

.alert {
    margin-bottom: 20px;
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    overflow: hidden; 
    border-radius: 10%;
}

.image-container img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    border: 5px solid #3e0048; 
    border-radius: 15px; 
}
